@import 'app/styles/abstracts/_variables.scss';
@import 'app/styles/abstracts/_mixins.scss';

.footerSection{
    background-color: $purple-accent;
    margin-top: 5rem;

    .footerContentSection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        ul{
            li{
                list-style-type: none;
                padding-bottom: 20px;
                h4 {
                    color: $white;
                  }
  
                  a{
                      color: $deep-white;
                      font-size: 16px;
                      font-weight: 200;
                      text-decoration: none;
                      padding-top: 20px;
                  }
                  p{
                    width: 170px;
                    color: $white;
                    font-weight: 200;
                }
                button{
                    width: 172px;
                    height: 50px;
                    background-color: $purple-accent;
                    border: 1px solid $white;
                    color: $white;
                    cursor: pointer;
                    border-radius: 4px;
                    &:hover{
                        background-color: $white;
                        color: $purple-accent;
                    }
                }
            }
        } 

        .firstSection{
            display: flex;
            flex-direction: column;
            flex: 15%;
        }

        .secondSection{
            display: flex;
            flex-direction: row;
            flex: 85%;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .iconSection{
            width: 100%;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 16px;

                li{
                    list-style-type: none;
                }
            }
            
        }

    }

    .footerBorder{
        border-bottom: 1px solid $white;
    }

    .copyRight{
        text-align: center;
        color: $deep-white;
        font-weight: 200;
    }
}

@include breakpoint(tabletmobile) {
    .secondSection{
        flex: 85% !important;
        justify-content: space-between !important;
        ul{
            flex: 33%;            
        }
    }
}

@include breakpoint(mobileandrotate) {
    .secondSection{
        justify-content: end;
        ul{
            flex: 50%;    
            &:last-child{
                display: flex !important;
            }        
        }
    }
    .iconSection{
        ul{   
            li{
                padding-bottom: 0 !important;
                ul{
                    display: flex;
                    gap: 6px !important;
                    flex-direction: column !important;
                }
                
            }
        }
        
    }
}