
.addItems{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    margin: 3.5rem 0;
    li{
        list-style-type: none;
        &:first-child,
        &:last-child{
            border: 1px solid #000000;
            border-radius: 50%;
            width: 24px;
            text-align: center;
            cursor: pointer;
            height: 24px;
        }
    }
}