@import 'app/styles/abstracts/_variables.scss';

.breadcrumb{
    padding-top: 2rem;
    padding-bottom: 2rem;
    list-style: none;

    li {
        display: inline;
        font-size: 14px;

        +li:before {
            padding: 8px;
            content: "/\00a0";
        }

        a {
            color: $deep-gray;
            font-weight: 300;
            text-decoration: none;
            &:hover{
                color: #01447e;
            }
        }
        &:last-child{
            color: $purple-black;
            font-weight: 300;
        }
    }
}