$violet: #C689C6;
$purple-accent: #937DC2;
$purple-black: #4F4C57;
$black: #382C2C;
$white: #FFFFFF;
$light-gray: #F1F1F1;
$deep-gray: #B8B8B8;
$deeper-gray: #7B7881;


$body-text: #4D4C4C;
$black-proto: #313131;
$black-note: #201f1f;
